:root {
    --bgcolor: #191724;
    --boxcolor: #26233A;
    --textcolor: #C4A7E7;
    --hcolor: #EBBCBA;
}

a {
    color: inherit;
    text-decoration: inherit;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    box-sizing: border-box;
    background: var(--bgcolor);
    font-family: 'Inconsolata', 'Courier New', Courier, monospace;
}

ul {
    display: flexbox;
    align-items: center;
    list-style-type: none;
    text-align: center;
    padding: 0em;
    margin: 1em;
    color: var(--textcolor);
}

li {
    height: 1.25em;
}

h2 {
    text-align: center;
    margin: 0em;
    padding-top: .5em;
    color: var(--hcolor);
    font-size: 1.5rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    place-content: center;
    height: 100%;
}

.box {
    background: var(--boxcolor);
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
    width: 15%;
    min-width: 10em;
    max-width: 20vw;
}
